<!DOCTYPE html>
<html>

<head>
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
        }

        h1 {
            text-align: center;
            color: #333333;
        }

        p {
            text-align: center;
            font-size: 18px;
            color: #666666;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>Welcome to your account!</h1>
    <p></p>
</body>

</html>
